@{
  Layout = "~/_SiteLayout.cshtml";
  Page.Title = "About";
}

<hgroup class="title">
  <h1>@Page.Title.</h1>
  <h2>The Payment Service</h2>
</hgroup>

<article>
  <p>WhiteCollar is a service proposed by...    </p>

  <p>WhiteCollar allow you to...    </p>

  <p>WhiteCollar is free of charge and...    </p>
  <p>Illustrations by <a href="http://www.freepik.com/free-vector/mix-icon-set_962856.htm">Freepik</a></p>
</article>

<aside>
  <h3>Disclaimer</h3>
  <p>
    Conditions of use and Privacy code are ...
  </p>
  <ul>
    <li><a href="~/Error.cshtml">Conditions of use</a></li>
    <li><a href="~/Error.cshtml">Privacy code</a></li>
  </ul>
</aside>