@{
  Layout = "~/_SiteLayout.cshtml";
  Page.Title = "Contact";
}

<hgroup class="title">
  <h1>@Page.Title.</h1>
</hgroup>

<section class="contact">
  <header>
    <h3>Phone:</h3>
  </header>
  <p>
    <span class="label">Main:</span>
    <span>+33 1 55 01 60 09</span>
  </p>
  <p>
    <span class="label">Mobile:</span>
    <span>+33 6 80 04 83 99</span>
  </p>
</section>

<section class="contact">
  <header>
    <h3>Email:</h3>
  </header>
  <p>
    <span class="label">Support:</span>
    <span><a href="mailto:pascal.bazin@gemalto.com">whitecollar@emvpass.net</a></span>
  </p>
  <p>
    <span class="label">Marketing:</span>
    <span><a href="mailto:pascal.bazin@gemalto.com">marketing@emvpass.net</a></span>
  </p>
  <p>
    <span class="label">General:</span>
    <span><a href="mailto:pascal.bazin@gemalto.com">info@emvpass.net</a></span>
  </p>
</section>

<section class="contact">
  <header>
    <h3>Address:</h3>
  </header>
  <p>
    6 rue de la verrerie<br />
    CS 20001<br />
    92197 MEUDON cedex
  </p>
</section>