@{
  Layout = "~/_SiteLayout.cshtml";
  Page.Title = "Error";
}

<hgroup class="title">
  <h1>@Page.Title.</h1>
  <h2>Not Found.</h2>
</hgroup>

<section class="Infomation">
  <p>
    Not yet available.
  </p>
</section>
