@{
  ViewData["Title"] = "About";
}
<h2><img src="~/images/about.png" class="hIcon" />&nbsp;@ViewData["Title"].</h2>
<h3>Who are we ?</h3>

<p>Veggie Fans...</p>

<h3>Application Creators:</h3>
<p>Software by me. </p>
<p>Design also.</p>
<p>Illustrations by <a href="http://fr.freepik.com/index.php?goto=2&k=legume&isCat=1&isKeyword=1&type=0&vars=1">Freepik</a></p>
