@{
    ViewData["Title"] = "Contact";
}
<h2><img src="~/images/contact.png" class="hIcon" />&nbsp;@ViewData["Title"].</h2>
<h3>Veggie Shopping Inc.</h3>

<address>
    42 allee de Potagers<br />
    Concombre Ville, FR-75995<br />
    <abbr title="Phone">P:</abbr>
    +33 155 016 009
</address>

<address>
    <strong>Support:</strong> <a href="mailto:pascal.bazin@gemalto.com">support@veggieshopping.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:pascal.bazin@gemalto.com">marketing@veggieshopping.com</a>
</address>
